   /* -----------------header page css start------------------ */
    /* ------------------------17--------------------------- */

    .navbar .megamenu {
        padding: 1rem;
        z-index: 9;
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {

        .navbar .has-megamenu {
            position: static !important;
        }

        .navbar .megamenu {
            left: 0;
            right: 0;
            width: 115%;
            margin-top: 0;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .nav-item a {
            color: var(--default-color);
        }

        /* .dropdown:hover .dropdown-menu{
    display: block;
  
} */

    }

    /* ============ desktop view .end// ============ */


    /* ============ mobile view ============ */
    @media(max-width: 991px) {

        .navbar.fixed-top .navbar-collapse,
        .navbar.sticky-top .navbar-collapse {
            overflow-y: auto;
            max-height: 90vh;
            margin-top: 10px;
        }
    }


    .nav-link:hover {
        color:var(--active-color)!important;
        font-style: italic;
    }

    /*
    .navbar {
        font-family: Helvetica Neue;
    } */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 12px 4px;
        margin: 0 10px;
    }


    .dropdown-menu {
        min-width: 200px;
    }

    .dropdown-menu.columns-2 {
        min-width: 400px;
    }

    .dropdown-menu.columns-3 {
        min-width: 600px;
    }

    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }

    .multi-column-dropdown {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color:var(--default-color);
        white-space: normal;
    }

    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: var(--default-color);
        background-color: #999;
    }

    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;
        }
    }

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }


    .right .modal-dialog,
    .left .modal-dialog {
        transition: transform .25s ease-out;
        position: fixed;
        margin: auto;
        height: 100%;
    }

    .modal.right .modal-content,
    .modal.left .modal-content {
        overflow-y: auto;
        border-radius: 0;
        border: none;
        height: 100%;
    }

    .right .modal-dialog {
        transform: translateX(50px);
        right: 0;
    }

    .left .modal-dialog {
        transform: translateX(-50px);
        left: 0;
    }

    .mainmenu {
        position: relative;
    }

    .submenus {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 99;
        background-color: #fff;
        width: 100%;
    }

    .mainmenu:hover .submenus {

        display: block;
    }

    .wrapper_search {
        position: relative;
    }

    .wrapper_search input:focus {
        outline: none;
    }

    .search-btn {
        position: absolute;
        top: 0px;
        background: transparent;
        right: 0;
        z-index: 1;
    }

    .acount_btn {
        width: 230px;
        background-color: #fff;
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 1s;
        z-index: 1;
    }

    .account_menus:hover .acount_btn {
        display: block;
    }

    .account_menus {
        position: relative;
        display: block;
        padding: 5px;
    }

    .account_menus:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .right_menus a {
        display: block;
        padding: 5px;
    }

    .right_menus:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mainmenu a {
        color: var(--default-color);
    }

    .mainmenu .active2 {
        color: var(--active-color);
        border-bottom: 1px solid var(--active-color);
    }

    .nav-item .nav-link {
        position: relative;
    }

    .nav-item .active1 {
        color:var(--active-color);
        font-style: italic;
    }

    .nav-item .active1::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 8px;
        background-color: var(--active-color);
        transform: scale(1, 1);
    }

    .nav-item .nav-link::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 8px;
        background-color: var(--active-color);
        transform: scale(0, 1);
        transition: transform 0.6s ease;
    }

    .nav-item .nav-link:hover::before {
        transform: scale(1, 1);
    }
   /* -----------------header page css end------------------ */
   /* -----------------index page css start------------------ */
          .explore_btn {
              background-color: var(--default-color);
          }

          .explore_arrow {
              color: #fff;
          }

          .explore_btn:hover .explore_arrow {
              transform: translateX(8px);
              transition: 0.6s;
          }

          .wrapper {
              display: flex;
              max-width: 1200px;
              position: relative;
          }

          .wrapper i {
              top: 50%;
              height: 44px;
              width: 44px;
              color: #343F4F;
              cursor: pointer;
              font-size: 1.28rem;
              position: absolute;
              text-align: center;
              line-height: 44px;
              background: #fff;
              border-radius: 50%;
              transform: translateY(-50%);
              transition: transform 0.1s linear;
          }

          .wrapper i:active {
              transform: translateY(-50%) scale(0.9);
          }

          .wrapper i:hover {
              background: #f2f2f2;
          }

          .wrapper i:first-child {
              left: -22px;
              display: none;
          }

          .wrapper i:last-child {
              right: -22px;
          }

          .wrapper .carousel {
              font-size: 0px;
              cursor: pointer;
              overflow: hidden;
              white-space: nowrap;
              scroll-behavior: smooth;
          }

          .carousel.dragging {
              cursor: grab;
              scroll-behavior: auto;
          }

          .carousel.dragging img {
              pointer-events: none;
          }

          .carousel img {
              height: 380px;
              object-fit: cover;
              user-select: none;
              margin-left: 14px;
              width: calc(100% / 4);
          }

          .carousel img:first-child {
              margin-left: 0px;
          }

          @media screen and (max-width: 900px) {
              .carousel img {
                  width: calc(100% / 2);
              }
          }

          @media screen and (max-width: 550px) {
              .carousel img {
                  width: 100%;
              }
          }

          .jumpbody {
              position: relative;

          }

          .jump button {
              background-color: var(--default-color);
              border: 0;
          }

          .jump {
              position: absolute;
              bottom: -15px;
              left: 50%;
              transform: translateX(-50%);
              background-color: var(--default-color);
              transition: 1.5s;

          }

          .jumpbody:hover .jump {
              bottom: 30%;

          }

          img {
              width: 100%;
          }


          /* Image-container design */
          .image-container {
              max-width: 100%;
              position: relative;
              margin: auto;
              z-index: 0;
          }

          .next {
              right: 0;
          }

          /* Next and previous icon design */
          .previous,
          .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              /* background-color: red; */
              padding: 10px;
              margin-top: -25px;
              z-index: 1;
          }

          /* caption decorate */
          .captionText {
              color: var(--default-color);
              font-size: 14px;
              position: absolute;
              padding: 12px 12px;
              bottom: 8px;
              width: 100%;
              text-align: center;
          }

          /* Slider image number */
          .slideNumber {
              background-color: #858585;
              color: white;
              border-radius: 25px;
              right: 0;
              opacity: .5;
              margin: 5px;
              width: 30px;
              height: 30px;
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              position: absolute;
          }

          .fa {
              font-size: 36px;
              /* color: #b88c99; */
          }

          .fa:hover {
              transform: rotate(360deg);
              transition: 1s;
              color: rgb(214, 211, 211);
          }

          .footerdot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbbbbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.5s ease;
          }

          .footerdot.active,
          .footerdot:hover {
              background-color: var(--default-color);
          }
       /* -----------------index page css end------------------ */


       /* -----------------product page css start------------------ */
   
        .details {
            display: none;
            transition-delay: 9s;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            transition: all 6s ease-out;
            transition-duration: 2s;
        }

        .product:hover .details {
            display: block;
        }

        #next:hover .fa-angle-left,
        #prev:hover .fa-angle-right {
            transform: rotate(360deg);
            transition: 1s;
        }

     
       .dropdown .btn-secondary {
            color: #fff;
            background-color:var(--default-color);
            border-color: var(--default-color);
        }

        .ft-toolbar {
            position: fixed;
            width: 100%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9;                                                                                                                                                                                                                                                                                                                                                                        overflow-y: hidden; */
            -webkit-overflow-scrolling: touch;
            padding: 5px;      
            background-color: #fff;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /* ----------------accrdian css------------- */
        .accordion-title:before {
            float: right !important;
            font-family: FontAwesome;
            content: "\f068";
            padding-right: 5px;
        }

        .accordion-title.collapsed:before {
            float: right !important;
            content: "\f067";
        }

        .card-header {
            background-color: #fff;
            border-bottom: 1px solid #d6c3c3;
        }

        .card {
            border: none;
        }

        .collapseborder {
            border-bottom: 1px solid #d6c3c3;
        }

        .form-check-input:checked {
            background-color: var(--default-color);
            border-color: var(--default-color);
        }

        .form-check label,
        .form-check-input {
            cursor: pointer;
        }

       .modal .modal-sort-filter {
            position: fixed;
            bottom: 0;
            left: 0%;
            right: 0%;
            transform: translate(-50%, -50%);
        }
         .remove-btn {
            font-size: 12px;
            color: var(--default-color);
            text-transform: capitalize;
        }

        .remove-btn span {
            font-size: 12px;
            padding-left: 4px;
            color: red;
        }

       /* -----------------product page css end------------------ */
       /* -----------------single page css start------------------ */
          /* ------------review css------- */
        .rating {
            padding-bottom: 30px;
        }

        .rating label {
            float: right;
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .rating label:not(:first-of-type) {
            padding-right: 2px;
        }

        .rating label:before {
            content: "\2605";
            font-size: 42px;
            color: #ccc;
            line-height: 1;
        }

        .rating input {
            display: none;
        }

        .rating input:checked~label:before,
        .rating:not(:checked)>label:hover:before,
        .rating:not(:checked)>label:hover~label:before {
            color: var(--default-color);
        }

          /* -----------exzoom css---------- */
        #exzoom {
            width: auto;
        }

        .product_list_ul {
            position: relative;
        }

        .bvideo-wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translate3d(0px, 0px, 0px);
            width: 100%;
            height: 100%;

        }

        .product_list_ul:hover .bvideo-wrap {
            display: block;
        }

        #share-buttons {
            display: none;
        }

        .shares .share-btn {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background-color: var(--default-color);
            color: #fff;
            margin: 4px;
            cursor: pointer;
        }



        .fa-thumbs-down {
            transform: rotateY(180deg);
        }

        .zoom_btn {
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50px;
        }

        .zoom_btn:hover {
            background-color: #ccc;
            z-index: 9;
        }
       /* -----------------single page css end------------------ */
       /* -----------------Footer page css start------------------ */
         .container-1 {
        width: 90%;
        margin: auto;
    }

    .line-footer li {
        list-style: none;
    }

    .line-footer li a:hover {
        color: rgb(1, 1, 104);
        font-style: italic;
    }

    .line-footer li a {
        position: relative;
        text-decoration: none;
        color: var(--default-color);

    }

    .line-footer li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -5px;
        background-color:var(--default-color);

        transform: scale(0, 1);
        transition: transform 0.7s ease;
    }

    .line-footer li a:hover::after {
        transform: scale(1, 1);
    }


    .line-footer {
        padding-left: 0;
    }
       /* -----------------Footer page css end------------------ */